<!DOCTYPE html>
<html>
    <head>
        <title>Clinical Data Creation</title>
    </head>
    <body>
        <h2>Patient Details</h2>
        First Name : {{patient.firstName}}<br>
        Last Name : {{patient.lastName}}<br>
        Age : {{patient.age}}<br>

        <h2>Patient Clinical Data</h2>
        <form method="post">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <input type="submit" value="Save">
        </form>
        
    </body>
</html>